* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --whiteShape:    #FFFFFF;
  --whiteBg:       #F8F8F8;
  --grayExtraLight:#E6E6E6;
  --grayLight:     #CECECE;
  --grayMedium:    #A8A8B3;
  --grayDark:      #737380;
  --black:         #29292E;
  
  --purpleMedium:  #835AFD;
  --purpleDark:    #6F4BD8;

  --pinkLight:     #D67EE2;
  --pinkMedium:    #E559F9;
  
  --redDanger:     #E73F5D;
  --redMedium:     #EA4335;
  

  --pinkGradient: linear-gradient(180deg, #EF7EFF 0%, #E554FA 100%);
  --purpleGradient: linear-gradient(180deg, #9A78FF 0%, #835AFD 100%);

  --textInputShadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--whiteBg);
  color: var(--black);
}

@media (max-width: 1080px) {
  html { 
    font-size: 93.75%;
  }

  @media (max-width: 768px) {
    html {
      font-size: 87.5%;
    }
  }

  @media (max-width: 480px) {
    html {
      font-size: 81.25%;
    }
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}