#home-page {
  display: flex;
  align-items: stretch;
  height: 100vh;
  
  aside {
    flex: 7;
  }

  main {
    flex: 14;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    width: 100%;
    max-width: 20rem;



    img#logo {
      align-self: center;
      max-width: 9.75rem;
    }

    .google-sign-in-button {
      background-color: var(--whiteShape);
      border: 1px solid var(--grayLight);
      color: var(--black);
      padding: 0 1rem;
      margin-top: 4rem;

      &:hover { 
        filter: none;
        border: 1px solid var(--purpleMedium);
      }
    }

    .separator {
      display: flex;
      align-items: center;
      margin: 2rem 0;
      font-size: 0.875rem;
      color: var(--grayMedium);

      &::before {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--grayLight);
        margin-right: 16px;
      }

      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--grayLight);
        margin-left: 16px;
      }
    }

    form {
      input {
        height: 3.125rem;
        border-radius: 8px;
        padding: 0 1rem;
        background: var(--whiteShape);
        border: 1px solid var(--grayMedium);
        outline: none;
        
        transition: border 0.2s;

        &::placeholder {
          color: var(--grayLight);
        }

        &:hover {
          border: 1px solid var(--purpleMedium);
        }

        &:focus {
          border: 1px solid var(--purpleMedium);
          box-shadow: var(--textInputShadow);
        }
      }

      button {
        margin-top: 1rem;
      }

      button, input {
        width: 100%;
      }
      
    }
  }
}